<!--<h1>
    Welcome, {{name}}
    <br>
    How are you doing to day?
</h1>-->

<!-- dynamic data loading-->

<!--<p>
  name: {{name}
  <br>
   age : {{age}}
  <br>
Nationality: {{Nationality}}
</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" /> -->

<!-- Word counter form-->
<h1>Input your text below:</h1>
<form method="POST" action="counter">
    {% csrf_token %}
    <textarea name="text" rows="25" cols="100"></textarea> <br>
    <input type="submit" />
</form>